{% macro render_field(field, icon) %}
<div class="field">
  {{ field.label(class_="label") }}
  <div class="control has-icons-left has-icons-right">
    {{ field(**kwargs)|safe }}
    <span class="icon is-small is-left">
      <i class="{{ icon }}"></i>
    </span>
  </div>
{% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro render_field_simple(field) %}
<div class="field">
  {{ field.label(class_="label") }}
  <div class="control has-icons-left has-icons-right">
    {{ field(**kwargs)|safe }}
  </div>
{% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}
